<!DOCTYPE html>
<html lang="en"	layout:decorator="layouts/main">
<head>
	<meta charset="utf-8"></meta>
	<title>AdatVilág</title>
</head>
<body>

	<div layout:fragment="loginContent">
	
	
	<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Post content -->
					<div class="col-md-8">

		<form name="login" th:action="@{/login}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Kérlek jelentkezz be</h2>
			<div id="err" th:if="${param.error}" class="alert alert-danger">Hibás felhasználói név vagy jelszó</div>
			<div th:if="${param.logout}" class="alert alert-success">Sikeresen kijelentkeztél</div>
			<label for="username" class="sr-only">Felhasználói név</label> 
			    <input type="text" id="username" name="username" class="form-control" placeholder="Felhasználói név" required="true" /> 
			<label for="password" class="sr-only">Jelszó</label> 
			    <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required="true" />
			<div class="checkbox">
				<label> <input id="remember-me" name="remember-me" type="checkbox" /> Emlékezz rám
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Bejelentkezés</button>
		</form>


		</div></div></div></div>
</div>

		
</body>
</html>

